version: '3.8'

services:

  web-lb:
    container_name: web-lb
    build:
      context: docker/haproxy
    image: ufts-haproxy:{{app_version}}
    environment:
      - SERVICE_443_NAME=haproxy
    volumes:
      - ./config/web-haproxy/:/usr/local/etc/haproxy/
      - ./config/certs/:/etc/ssl/certs/
    networks:
      - frontend_network
    ports:
      - "443:443"
    hostname: haproxy
    user: root
    restart: always

  app-lb:
    container_name: app-lb
    build:
      context: docker/haproxy
    image: ufts-haproxy:{{app_version}}
    environment:
      - SERVICE_8000_NAME=haproxy
    volumes:
      - ./config/app-haproxy/:/usr/local/etc/haproxy/
    networks:
      - frontend_network
    expose:
      - "8000"
    hostname: haproxy
    user: root
    restart: always

{% for i in range(num_web) %}
  web{{i}}:
    container_name: web{{i}}
    build:
      context: docker/nginx
      args:
        UFTS_UID: {{UID}}
        UFTS_GID: {{GID}}
    image: ufts-nginx:{{app_version}}
    environment:
      - SERVICE_80_IGNORE=true
      - SERVICE_8080_NAME=nginx
    tmpfs:
      - /run:uid={{UID}},gid={{GID}}
    volumes:
      - ./config/nginx/conf.d:/etc/nginx/conf.d
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./static:/opt/services/ufts/static
      - ./media:/opt/services/ufts/media
      - ./software:/opt/services/ufts/software
    networks:
      - frontend_network
    restart: always
{% endfor %}

{% for i in range(num_app) %}
  app{{i}}:
    container_name: app{{i}}
    build:
      context: docker/app
      args:
        UFTS_UID: {{UID}}
        UFTS_GID: {{GID}}
    image: ufts-app:{{app_version}}
    command: >
             gunicorn --workers 5 --threads 2 --chdir ufts
             --bind :8000 --worker-tmp-dir /dev/shm
             -k gthread ufts.wsgi:application
    environment:
      - SERVICE_8000_NAME=app
    volumes:
      - .:/opt/services/ufts/src
      - ./static:/opt/services/ufts/static
      - ./media:/opt/services/ufts/media
      - ./software:/opt/services/ufts/software
    labels:
      service_ip: 172.20.10.{{100 + i}}
    networks:
      frontend_network:
        ipv4_address: 172.20.10.{{100 + i}}
      backend_network:
        ipv4_address: 172.20.11.{{100 + i}}
    depends_on:
      - db
    restart: always
{% endfor %}

  db:
    container_name: db
    build:
      context: docker/postgres
    image: ufts-postgres:{{app_version}}
    environment:
      - SERVICE_5432_NAME=postgres
    env_file:
      - config/db/postgres_env
    networks:
      - backend_network
    volumes:
      - db_volume:/var/lib/postgresql/data
    restart: always

  redis:
    container_name: redis
    build:
      context: docker/redis
    image: ufts-redis:{{app_version}}
    environment:
      - SERVICE_6379_NAME=redis
    networks:
      - redis_network
    restart: always

  celery:
    container_name: celery
    build:
      context: docker/celery
      args:
        UFTS_UID: {{UID}}
        UFTS_GID: {{GID}}
    image: ufts-celery:{{app_version}}
    command: >
             celery -A ufts worker
             --pidfile=/var/run/celeryd.pid
             -l info -c 3
    networks:
      - redis_network
      - backend_network
    tmpfs:
      - /run:uid={{UID}},gid={{GID}}
    volumes:
      - .:/opt/services/ufts/src
      - ./static:/opt/services/ufts/static
      - ./media:/opt/services/ufts/media
      - ./software:/opt/services/ufts/software
    depends_on:
      - db
      - redis
    restart: always

  celery-beat:
    container_name: celery-beat
    build:
      context: docker/celery
      args:
        UFTS_UID: {{UID}}
        UFTS_GID: {{GID}}
    image: ufts-celery:{{app_version}}
    command: >
             celery -A ufts beat
             --pidfile=/var/run/celeryd.pid
             --schedule=/var/run/celerybeat-schedule
             -l info
    networks:
      - redis_network
    tmpfs:
      - /run:uid={{UID}},gid={{GID}}
    volumes:
      - .:/opt/services/ufts/src
      - ./static:/opt/services/ufts/static
      - ./media:/opt/services/ufts/media
      - ./software:/opt/services/ufts/software
    depends_on:
      - db
      - redis
    restart: always

networks:
  frontend_network:
    ipam:
      driver: default
      config:
        - subnet: "172.20.10.0/24"
  backend_network:
    ipam:
      driver: default
      config:
        - subnet: "172.20.11.0/24"
  redis_network:
    ipam:
      driver: default
      config:
        - subnet: "172.20.12.0/24"

volumes:
  db_volume:
