antiorm
chardet
DateTimeRange
Django
django-appconf
django-bootstrap4
django-chosen
django-classification-banner
django-compressor
django-crispy-forms
django-extensions
django-file-md5
django-filter
django-imagekit
django-libsass
django-request
django-user-activity-log2
djangorestframework
et-xmlfile
fpdf
future
jdcal
libsass
mbstrdecoder
numpy
openpyxl
pandas
pilkit
Pillow
psycopg2-binary
pysqlite3
python-dateutil
pytz
rcssmin
reportlab
rjsmin
six
typepy
gunicorn
