{% extends 'base.html' %}

{% block title %} - {{ page.title }}{% endblock %}

{% block content %}
    <div class="container text-center col-12">
        <div class="jumbotron">
            <h2 class="text-center">Juniper Software EULA</h2>
            <hr/>
            <div class="container center col-8">
                <form action="{%  url 'uploads' %}" method="post">
                    {% csrf_token %}
                    <p class="text-sm-left text-muted h5">{{ eula_summary }}</p>
                    <a href="{{ MEDIA_URL }}{{ eula_file }}" class="link shown" title="EULA" target="">To view Full EULA click HERE</a>
                    <hr/>

                <input type="submit" value="Accept" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}