{% extends 'base.html' %}

{% block title %} - {{ page.title }}{% endblock %}

{% block content %}
    <div class="container text-center col-12">
        <div class="jumbotron">
            <h2 class="text-center">Juniper Software EULA</h2>
            <hr/>
            <div class="container center col-8">
                <form action="{%  url 'uploads' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p style="color:red" class="text-sm-left text-muted h5"> IMPORTANT -- READ THIS AGREEMENT BEFORE DOWNLOADING, INSTALLING, OR USING THE SOFTWARE. JUNIPER
                        NETWORKS IS WILLING TO LICENSE THE SOFTWARE TO YOU OR THE ENTITY YOU REPRESENT THAT WILL BE LICENSED TO
                        USE THE SOFTWARE (COLLECTIVELY “YOU” or “YOUR”) AND MAKE AVAILABLE ASSOCIATED MAINTENANCE SERVICES ONLY
                        IF YOU ACCEPT ALL OF THE TERMS OF THIS AGREEMENT. YOU REPRESENT AND WARRANT THAT YOU HAVE THE RIGHT,
                        POWER AND AUTHORITY TO ACT ON BEHALF OF AND BIND THE ENTITY THAT YOU REPRESENT.
                        YOU SHALL HAVE NO RIGHT TO INSTALL OR USE THE SOFTWARE OR TO RECEIVE ANY MAINTENANCE SERVICES THAT YOU
                        MAY HAVE ORDERED UNLESS YOU HAVE RECEIVED A COPY OF THE SOFTWARE FROM JUNIPER NETWORKS OR A JUNIPER
                        NETWORKS-AUTHORIZED RESELLER (COLLECTIVELY, AN “APPROVED SOURCE”), AND (II) YOU ACCEPT ALL TERMS OF THIS
                        AGREEMENT.
                        IF YOU DO NOT AGREE TO ALL TERMS OF THE AGREEMENT, OR IF YOU HAVE ORDERED THE SOFTWARE FROM SOMEONE
                        WHO IS NOT AN APPROVED SOURCE, THEN (A) DO NOT DOWNLOAD, INSTALL, OR USE THE SOFTWARE (AND, IF THE
                        SOFTWARE WAS DELIVERED TO YOU EMBEDDED IN A JUNIPER HARDWARE PRODUCT, DO NOT INSTALL OR USE THAT
                        HARDWARE PRODUCT) OR REQUEST ANY MAINTENANCE SERVICES, AND (B) WITHIN 30 DAYS AFTER PLACING YOUR ORDER
                        FOR THE SOFTWARE (AND, IF APPLICABLE, THE HARDWARE PRODUCT IN WHICH IT WAS DELIVERED EMBEDDED), (I)
                        RETURN THE HARDWARE PRODUCT, IF APPLICABLE, (II) RETURN OR DESTROY ALL COPIES OF THE SOFTWARE AND
                        REQUEST FULL REFUND OF THE SOFTWARE LICENSE FEE (AND, IF APPLICABLE, ASSOCIATED SOFTWARE MAINTENANCE
                        SERVICE FEE AND THE PURCHASE PRICE OF THE HARDWARE PRODUCT) FROM THE PARTY THAT FURNISHED YOU THE
                        SOFTWARE. BY INSTALLING OR USING ANY SOFTWARE, USING THE HARDWARE PRODUCT IN WHICH IT WAS DELIVERED
                        EMBEDDED, IF APPLICABLE, OR BY USING ANY MAINTENANCE SERVICES YOU WILL BE DEEMED TO HAVE ACCEPTED THIS
                        AGREEMENT.</p>

                    <a href="{{ MEDIA_URL }}support/pdf/eula.pdf" class="link shown" title="EULA" target="">To view Full EULA click HERE</a>
                    <hr/>

                <input type="submit" value="Accept" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}