{% extends 'base.html' %}
{% block title %}Verify Software{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <div class="container col-12">
            <div class="jumbotron">
                <h2 class="text-center">Verify Software</h2>
                <div class="row">
                    <div class="col-lg-12">
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for upload in uploads %}
                                {% if upload.verified_by %}
                                <tr>
                                    <td style="width: 400px" class="col-md-4">{{ upload.products }}</td>
                                    <td style="width: 400px" class="col-md-4">{{ upload.version }}</td>
                                    <td style="width: 400px" class="col-md-4"><a href="{{ MEDIA_URL }}{{ upload.file }}">{{ upload.file }}</a></td>
                                    <td style="width: 250px" class="col-md-4">{{ upload.description }}</td>
                                    <td style="width: 400px" class="col-md-4">{{ upload.md5sum }}</td>
                                    <td style="width: 400px" class="col-md-4">{{ upload.sha256sum }}</td>
                                    <td>
                                        <a href="{{ upload.file.url }}" class="btn btn-primary btn-sm" name="soft_down">Verify Software</a>
{#                                        <input type="submit" class="btn btn-primary btn-sm" value="Download Software" name="soft_down">#}
                                    </td>
                                </tr>
                                {% endif %}
                          {% endfor %}
                        <a href="{{ upload.products }}" class="btn btn-primary btn-sm" name="soft_down">Verify Software</a>
                      </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div class="container">
            <div class="jumbotron">
                <p>You are logged in.</p>
            </div>
        </div>

    {% endif %}

{% endblock %}
