<!-- templates/about.html -->
{% extends 'base.html' %}

{% block title %} - {{ page.title }{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="jumbotron">
            <h2 class="text-center">Notice of Consent</h2>
            <hr/>
            <form action="{%  url 'login' %}" method="post">
                {% csrf_token %}
                <p class="text-sm-left text-muted h5"> {{ consent|linebreaksbr }} </p>
                <hr/>
                <input type="submit" value="Accept" />
            </form>
        </div>
    </div>
{% endblock %}