{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h2>dayones</h2>
    <p>
        <a href="{% url 'upload_dayone' %}" class="btn btn-primary">Upload Dayone</a>
    </p>
        <table class="table mb-0">
            <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                {% for dayone in dayones %}
                    <tr>
                    <td>
                        {% if dayone.cover %}
                            <img src="{{ dayone.cover.url }}" alt="{{ dayone.title }}" style="width: 100px">
                        {% else %}
                            <span class="text-muted">No Cover</span>
                        {% endif %}
                    </td>
                        <td>{{ dayone.title }}</td>
                        <td>{{ dayone.author }}</td>
                        <td>
                            <a href="{{ dayone.pdf.url }}" class="btn btn-primary btn-sm"> <!-- target="_blank" -->
                                Download PDF
                            </a>
                        </td>
                    <td>
                        <form method="post" action="{% url 'delete_dayone' dayone.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}