<!-- templates/about.html -->
{% extends 'base.html' %}

{% block title %} - {{ page.title }{% endblock %}

{% block content %}
    <div class="container text-center col-12">
        <div class="jumbotron">
            <div class="row">
                <div class="container col-12">
                    <h2>Announcements</h2>
                    <h3 style="color: red;">
                        <p>Contract expiring in less than 90 days.</p>
                        <p>Once expired you will lose software download access.</p>
                        <p>Please renew your support contract.</p>
                    </h3>
                    <h3>New JSAs (last 30 days)</h3>
                    <p>JSA123: NTP Vulnerability</p>
                    <p>JSA456: DNS Vulnerability</p>
                    <p>JSA789: BGP Vulnerability</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}