<!-- templates/about.html -->
{% extends 'base.html' %}

{% block title %} - {{ page.title }{% endblock %}

{% block content %}
    <div class="container col-12">
        <div class="jumbotron">
            <div class="row">
                <div class="container col-6">
                    <h2>Announcements</h2>
                {% for contract in contracts %}
                  {% if not contract.valid %}
                    <h5 style="color: orange;">
                        <p>Contract "{{ contract.name }}" associated with profile is invalid. Please contact the Administrator to correct.</p>
                    </h5>
                  {% elif contract.expired %}
                    <h5 style="color: red;">
                        <p>Contract "{{ contract.name }}" expired on {{ contract.expiry_date }}.
                           You have lost software download access for products associated with this contract.
                           Please renew your support contract.</p>
                    </h5>
                  {% elif contract.expiring %}
                    <h5 style="color: red;">
                        <p>Contract "{{ contract.name }}" expires on {{ contract.expiry_date }} (less than 90 days)
                           Once expired you will lose software download access for products associated with this contract.
                           Please renew your support contract.</p>
                    </h5>
                  {% else %}
                    <h5 style="color: green;">
                        <p>Contract "{{ contract.name }}" is valid and not expiring anytime soon.</p>
                    </h5>
                  {% endif %}
                {% endfor %}
                {% if not user.is_authenticated %}
                  <h5>Please login to access the full site</h5>
                {% elif not contracts %}
                  <h5>Please contact the Administrator to add your contract to your profile</h5>
                {% endif %}
                </div>
                <div class="container col-6">
                    <h3>New JSAs (last 30 days)</h3>
                  {% for jsa in jsas %}
                    <p>{{ jsa.displayName }} {{ jsa.description }}</p>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
